#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "BGM停止"
  # タグ
  tag: "BGM"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: ""
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 0
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 0
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 0
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 0
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: false
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: false
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "SE停止"
  # タグ
  tag: "SE"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: ""
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 0
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 0
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 0
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 0
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: false
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: false
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "馬車道"
  # タグ
  tag: "BGM"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: "bgm-1"
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 0
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 0
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 0
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 0
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: true
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: false
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "華志の舞 (Kashi no Mai)"
  # タグ
  tag: "BGM"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: "bgm-2"
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 0
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: -3
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 100
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 0
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: true
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: false
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "ECHO【Gumi English】"
  # タグ
  tag: "BGM"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: "bgm-3"
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 8
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 0
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 0
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 0
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: true
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: false
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "DJ Sona's Ultimate Skin Music: Kinetic"
  # タグ
  tag: "BGM"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: "bgm-4"
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 0
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 0
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 0
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 0
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: true
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: false
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "[サビ]気まぐれメルシィ feat. 初音ミク"
  # タグ
  tag: "BGM"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: "bgm-5"
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 57
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 83
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 30
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 20
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: true
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: false
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "[サビ]Bad Apple!!"
  # タグ
  tag: "BGM"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: "bgm-6"
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 56
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 84
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 30
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 20
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: true
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: false
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "ダイス音"
  # タグ
  tag: "SE"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: "se-1"
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 0
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 0
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 0
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 0
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: regexp
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: "→ [0-9]+"
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: false
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: true
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "チーン1"
  # タグ
  tag: "SE"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: "se-2"
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 0
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 0
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 0
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 0
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: false
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: true
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "正解1"
  # タグ
  tag: "SE"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: "se-3"
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 0
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 0
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 0
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 0
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: false
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: true
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
#=========#=========#=========#=========#=========#=========#
- # タイトル
  title: "不正解1"
  # タグ
  tag: "SE"
  # 画像(空文字にすると停止命令扱い)
  imageKey: ""
  # BGM(空文字にすると停止命令扱い)
  bgmKey: "se-4"
  # 音量(0~100)
  volume: 80
  # 再生開始位置(秒単位)
  start: 0
  # 再生終了位置(秒単位) マイナス指定で末尾からの時間
  end: 0
  # フェードインにかける時間(0.1秒単位）
  fadeIn: 0
  # フェードアウトにかける時間(0.1秒単位）
  fadeOut: 0
  # チャット連携モード(none: 連携なし, last: チャット末尾, regexp: 正規表現)
  chatLinkageType: none
  # チャット連携対象指定(チャット連携モードが0の場合は利用しない)
  chatLinkageTarget: ""
  # リピート再生(true: リピートする, false: リピートしない)
  isRepeat: false
  # スタンバイ状態にして、再生タイミングで初期読み込み時間によるラグを軽減するかどうか
  isStandBy: false
  # 同じ曲を再生しようとしてもリセットしない（BGM向け）
  isForceContinue: false
  # 強制新規再生（効果音向け）
  isForceNew: true
  # 画像の向き(none: 変更なし, horizontal: 左右反転, vertical: 上下反転, 180: 180度回転)
  direction: none
  # 画像の大きさの指定(none: 画像サイズそのまま, width: 幅を指定 & 縦横比を維持, height: 高さを指定 & 縦横比を維持)
  fitEdge: none
  # 指定された幅(fitEdgeがwidthでない場合は無視)
  imageWidth: 0
  # 指定された幅(fitEdgeがheightでない場合は無視)
  imageHeight: 0
