#=========#=========#=========#=========#=========#=========#=========#=========#
- # カードセット名
  title     : 花札
  # index.htmlを基準とした相対URL
  basePath  : static/img/deck/hanahuda/
  # 裏面の柄
  back      :
    imagePath      : back.jpg
    backgroundColor: "#ffffff"
  # カードサイズ(px)
  width     : 128
  height    : 192
  # カードのふちの幅(px)
  padHorizontal  : 0
  padTop : 0
  padBottom : 0
  # 角の丸み(px)
  radius    : 0
  # カード名の表示高さ(px)（非表示なら0）
  nameHeight: 0
  # カード名のフォントサイズ(px)（非表示なら意味なし）
  nameFontSize: 20
  # カードテキストの表示高さ(px)（非表示なら0）
  textHeight: 0
  # カードテキストのフォントサイズ(px)（非表示なら意味なし）
  textFontSize: 11
  # カードテキストの内余白
  textPadding: 0
  # 出典元情報
  source    :
    author  : メタボルタ氏
    title   : 花札＠どどんとふ
    # 個別情報
    # url   : リンク先（必須）
    # author: 作者（省略可）
    # title : 作品名（省略可）
    refs:
    - url: https://www.pixiv.net/member_illust.php?mode=medium&illust_id=52572048
    - url: https://www.pixiv.net/member_illust.php?mode=medium&illust_id=52619352
  # カード情報
  # name           : カード名前
  # text           : カードテキスト
  # imagePath      : [basePath + imagePath]が参照URLとなる
  # backgroundColor: 背景色（デフォルトは#ffffff）
  # fontColor      : フォント色（デフォルトは#000000）
  cards:
  - imagePath: 1_1_1.jpg
    name: 松／カス(1)
  - imagePath: 1_1_2.jpg
    name: 松／カス(2)
  - imagePath: 1_5.jpg
    name: 松／短冊
  - imagePath: 1_20.jpg
    name: 松／光
  - imagePath: 2_1_1.jpg
    name: 梅／カス(1)
  - imagePath: 2_1_2.jpg
    name: 梅／カス(1)
  - imagePath: 2_5.jpg
    name: 梅／短冊
  - imagePath: 2_10.jpg
    name: 梅／タネ
  - imagePath: 3_1_1.jpg
    name: 桜／カス(1)
  - imagePath: 3_1_2.jpg
    name: 桜／カス(2)
  - imagePath: 3_5.jpg
    name: 桜／短冊
  - imagePath: 3_20.jpg
    name: 桜／光
  - imagePath: 4_1_1.jpg
    name: 藤／カス(1)
  - imagePath: 4_1_2.jpg
    name: 藤／カス(2)
  - imagePath: 4_5.jpg
    name: 藤／短冊
  - imagePath: 4_10.jpg
    name: 藤／タネ
  - imagePath: 5_1_1.jpg
    name: 菖蒲／カス(1)
  - imagePath: 5_1_2.jpg
    name: 菖蒲／カス(2)
  - imagePath: 5_5.jpg
    name: 菖蒲／短冊
  - imagePath: 5_10.jpg
    name: 菖蒲／タネ
  - imagePath: 6_1_1.jpg
    name: 牡丹／カス(1)
  - imagePath: 6_1_2.jpg
    name: 牡丹／カス(2)
  - imagePath: 6_5.jpg
    name: 牡丹／短冊
  - imagePath: 6_10.jpg
    name: 牡丹／タネ
  - imagePath: 7_1_1.jpg
    name: 萩／カス(1)
  - imagePath: 7_1_2.jpg
    name: 萩／カス(2)
  - imagePath: 7_5.jpg
    name: 萩／短冊
  - imagePath: 7_10.jpg
    name: 萩／タネ
  - imagePath: 8_1_1.jpg
    name: 芒／カス(1)
  - imagePath: 8_1_2.jpg
    name: 芒／カス(2)
  - imagePath: 8_10.jpg
    name: 芒／短冊
  - imagePath: 8_20.jpg
    name: 芒／光
  - imagePath: 9_1_1.jpg
    name: 菊／カス(1)
  - imagePath: 9_1_2.jpg
    name: 菊／カス(2)
  - imagePath: 9_5.jpg
    name: 菊／短冊
  - imagePath: 9_10.jpg
    name: 菊／タネ
  - imagePath: 10_1_1.jpg
    name: 紅葉／カス(1)
  - imagePath: 10_1_2.jpg
    name: 紅葉／カス(2)
  - imagePath: 10_5.jpg
    name: 紅葉／短冊
  - imagePath: 10_10.jpg
    name: 紅葉／タネ
  - imagePath: 11_1.jpg
    name: 柳／カス
  - imagePath: 11_5.jpg
    name: 柳／短冊
  - imagePath: 11_10.jpg
    name: 柳／タネ
  - imagePath: 11_20.jpg
    name: 柳／光
  - imagePath: 12_1_1.jpg
    name: 桐／カス(1)
  - imagePath: 12_1_2.jpg
    name: 桐／カス(2)
  - imagePath: 12_1_3.jpg
    name: 桐／カス(3)
  - imagePath: 12_20.jpg
    name: 桐／光

#=========#=========#=========#=========#=========#=========#=========#=========#
- # カードセット名
  title     : トランプ
  # index.htmlを基準とした相対URL
  basePath  : static/img/deck/cards/
  # 裏面の柄
  back      :
    imagePath      : back.jpg
    backgroundColor: "#ffffff"  # カードサイズ
  width     : 128
  height    : 192
  # カードのふちの幅(px)
  padHorizontal  : 0
  padTop : 0
  padBottom : 0
  # 角の丸み(px)
  radius    : 10
  # カード名の表示高さ(px)（非表示なら0）
  nameHeight: 0
  # カード名のフォントサイズ(px)（非表示なら意味なし）
  nameFontSize: 20
  # カードテキストの表示高さ(px)（非表示なら0）
  textHeight: 0
  # カードテキストのフォントサイズ(px)（非表示なら意味なし）
  textFontSize: 11
  # カードテキストの内余白
  textPadding: 0
  # 出典元情報
  source  :
    author: Wikipedia Commons
    # 個別情報
    # url   : リンク先（必須）
    # author: 作者（省略可）
    # title : 作品名（省略可）
    refs:
    - url  : https://commons.wikimedia.org/wiki/File:English_pattern_playing_cards_deck.svg
      title: English pattern playing cards deck
    - url  : https://commons.wikimedia.org/wiki/File:Joker_black_02.svg
      title: Joker black 02
    - url  : https://commons.wikimedia.org/wiki/File:Joker_red_02.svg
      title: Joker red 02
    - url  : https://commons.wikimedia.org/wiki/File:Carta_Francese_retro_Rosso.jpg
      title: Carta Francese retro Rosso
  # カード情報
  # name           : カード名前
  # text           : カードテキスト
  # imagePath      : [basePath + imagePath]が参照URLとなる
  # backgroundColor: 背景色（デフォルトは#ffffff）
  # fontColor      : フォント色（デフォルトは#000000）
  cards:
    - imagePath: 1_clubs.png
      name: クラブのA
    - imagePath: 1_diamonds.png
      name: ダイヤのA
    - imagePath: 1_hearts.png
      name: ハートのA
    - imagePath: 1_spades.png
      name: スペードのA
    - imagePath: 2_clubs.png
      name: クラブの2
    - imagePath: 2_diamonds.png
      name: ダイヤの2
    - imagePath: 2_hearts.png
      name: ハートの2
    - imagePath: 2_spades.png
      name: スペードの2
    - imagePath: 3_clubs.png
      name: クラブの3
    - imagePath: 3_diamonds.png
      name: ダイヤの3
    - imagePath: 3_hearts.png
      name: ハートの3
    - imagePath: 3_spades.png
      name: スペードの3
    - imagePath: 4_clubs.png
      name: クラブの4
    - imagePath: 4_diamonds.png
      name: ダイヤの4
    - imagePath: 4_hearts.png
      name: ハートの4
    - imagePath: 4_spades.png
      name: スペードの4
    - imagePath: 5_clubs.png
      name: クラブの5
    - imagePath: 5_diamonds.png
      name: ダイヤの5
    - imagePath: 5_hearts.png
      name: ハートの5
    - imagePath: 5_spades.png
      name: スペードの5
    - imagePath: 6_clubs.png
      name: クラブの6
    - imagePath: 6_diamonds.png
      name: ダイヤの6
    - imagePath: 6_hearts.png
      name: ハートの6
    - imagePath: 6_spades.png
      name: スペードの6
    - imagePath: 7_clubs.png
      name: クラブの7
    - imagePath: 7_diamonds.png
      name: ダイヤの7
    - imagePath: 7_hearts.png
      name: ハートの7
    - imagePath: 7_spades.png
      name: スペードの7
    - imagePath: 8_clubs.png
      name: クラブの8
    - imagePath: 8_diamonds.png
      name: ダイヤの8
    - imagePath: 8_hearts.png
      name: ハートの8
    - imagePath: 8_spades.png
      name: スペードの8
    - imagePath: 9_clubs.png
      name: クラブの9
    - imagePath: 9_diamonds.png
      name: ダイヤの9
    - imagePath: 9_hearts.png
      name: ハートの9
    - imagePath: 9_spades.png
      name: スペードの9
    - imagePath: 10_clubs.png
      name: クラブの10
    - imagePath: 10_diamonds.png
      name: ダイヤの10
    - imagePath: 10_hearts.png
      name: ハートの10
    - imagePath: 10_spades.png
      name: スペードの10
    - imagePath: 11_clubs.png
      name: クラブのジャック
    - imagePath: 11_diamonds.png
      name: ダイヤのジャック
    - imagePath: 11_hearts.png
      name: ハートのジャック
    - imagePath: 11_spades.png
      name: スペードのジャック
    - imagePath: 12_clubs.png
      name: クラブのクイーン
    - imagePath: 12_diamonds.png
      name: ダイヤのクイーン
    - imagePath: 12_hearts.png
      name: ハートのクイーン
    - imagePath: 12_spades.png
      name: スペードのクイーン
    - imagePath: 13_clubs.png
      name: クラブのキング
    - imagePath: 13_diamonds.png
      name: ダイヤのキング
    - imagePath: 13_hearts.png
      name: ハートのキング
    - imagePath: 13_spades.png
      name: スペードのキング
    - imagePath: Joker_1.png
      name: ジョーカー(1)
    - imagePath: Joker_2.png
      name: ジョーカー(2)
