@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dws72h');
  src:  url('fonts/icomoon.eot?dws72h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dws72h') format('truetype'),
    url('fonts/icomoon.woff?dws72h') format('woff'),
    url('fonts/icomoon.svg?dws72h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-music:before {
  content: "\e911";
}
.icon-dice:before {
  content: "\e915";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-cog:before {
  content: "\e994";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute:before {
  content: "\ea2a";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-font:before {
  content: "\ea5c";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-safari:before {
  content: "\eadd";
}
