@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n1xh4l');
  src:  url('fonts/icomoon.eot?n1xh4l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n1xh4l') format('truetype'),
    url('fonts/icomoon.woff?n1xh4l') format('woff'),
    url('fonts/icomoon.svg?n1xh4l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-music:before {
  content: "\e911";
}
.icon-film:before {
  content: "\e913";
}
.icon-dice:before {
  content: "\e915";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-confused:before {
  content: "\e9f5";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-font:before {
  content: "\ea5c";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-calculator:before {
  content: "\e940";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-make-group:before {
  content: "\ea58";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-library:before {
  content: "\e921";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-display:before {
  content: "\e956";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-key2:before {
  content: "\e98e";
}
