@mixin flex-box(
  $direction: row,
  $horizontal: normal,
  $vertical: normal,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: if($direction == row, $horizontal, $vertical);
  align-items: if($direction == row, $vertical, $horizontal);
  flex-wrap: $wrap;
}

@mixin inline-flex-box(
  $direction: row,
  $horizontal: flex-start,
  $vertical: flex-start,
  $wrap: nowrap
) {
  display: inline-flex;
  flex-direction: $direction;
  justify-content: if($direction == row, $horizontal, $vertical);
  align-items: if($direction == row, $vertical, $horizontal);
  flex-wrap: $wrap;
}

@mixin basic-map-object() {
  @include flex-box(row, center, center);
  position: fixed;
  left: calc(var(--x) + var(--margin-column) * var(--gridSize) - var(--inflate-width));
  top: calc(var(--y) + var(--margin-row) * var(--gridSize) - var(--inflate-width));
  width: calc(var(--columns) * var(--gridSize) + var(--inflate-width) * 2);
  height: calc(var(--rows) * var(--gridSize) + var(--inflate-width) * 2);
  transform: rotate(var(--angle));
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 12px;
  cursor: crosshair;
  z-index: calc(500000000 + var(--order));
  outline-offset: calc((var(--isHideHighlight) - 1) * 6px);
  outline: rgb(187, 187, 255) solid calc((var(--isHideHighlight) - 1) * -6px);

  &.hover {
    z-index: 599999999;
  }

  &.hover.moving,
  &.rolling {
    z-index: 999999999;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-sizing: border-box;
    background-color: var(--back-color);
    background-image: var(--image);
    background-size: var(--image-background-size);
    background-repeat: no-repeat;
    background-position: var(--image-background-position);
    transform: var(--image-reverse);
  }

  &:after {
    content: var(--text);
    white-space: pre-wrap;
    word-break: break-all;
    color: var(--font-color);
    @include flex-box(row, center, center);
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0 0 0 calc((var(--isHideBorder) - 1) * -3px) var(--isLock);
    /*
    outline-width: calc((var(--isHideBorder) - 1) * -3px);
    outline-style: solid;
    outline-color: var(--isLock);
    */
  }
}

.v-box {
  @include flex-box(column, stretch, flex-start);
  position: relative;
}

.h-box {
  @include flex-box(row, flex-start, stretch);
  position: relative;
}

.flex-max {
  flex: 1;
}

.button-area {
  @include flex-box(row, center, center);
  margin-top: 0.5rem;

  &.margin-none {
    margin-top: 0;
  }

  &.margin-bottom {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &.left {
    @include flex-box(row, flex-start, center);
  }

  &.space-between {
    @include flex-box(row, space-between, center);
  }

  &.space-around {
    @include flex-box(row, space-around, center);
  }

  > *:not(:first-child) {
    margin-left: 0.5rem;
  }
}

.label-input {
  &:after {
    content: "：";
  }
}
